<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.lease.web.app.mapper.BrowsingHistoryMapper">

    <resultMap id="HistoryItemVoMap" type="com.zjw.lease.web.app.vo.history.HistoryItemVo" autoMapping="true">
        <id column="id" property="id"/>
        <result property="roomId" column="room_id"/>
        <collection property="roomGraphVoList" column="room_id"
                    select="com.zjw.lease.web.app.mapper.GraphInfoMapper.selectGraphVoByRoomId"/>
    </resultMap>

    <select id="pageHistoryItemVo" resultMap="HistoryItemVoMap">
        SELECT bh.id,
               bh.user_id,
               bh.room_id,
               bh.browse_time,
               ri.room_number,
               ri.rent,
               ri.apartment_id,
               ai.name apartment_name,
               ai.province_name,
               ai.city_name,
               ai.district_name
        FROM browsing_history bh
                 JOIN room_info ri ON bh.room_id = ri.id
                 JOIN apartment_info ai ON ri.apartment_id = ai.id
        WHERE bh.is_deleted = 0
        ORDER BY bh.browse_time DESC
    </select>
</mapper>
