<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.lease.web.app.mapper.FeeValueMapper">

    <select id="selectListByApartmentId" resultType="com.zjw.lease.web.app.vo.fee.FeeValueVo">
        SELECT fv.id,
               fv.name,
               fv.unit,
               fv.fee_key_id,
               fk.name fee_key_name
        FROM fee_value fv
                 LEFT JOIN fee_key fk ON fv.fee_key_id = fk.id AND fk.is_deleted = 0
        WHERE fv.is_deleted = 0
          AND fv.id IN (SELECT fee_value_id
                        FROM apartment_fee_value
                        WHERE is_deleted = 0
                          AND apartment_id = #{id})
    </select>
</mapper>
