<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.lease.web.admin.mapper.AttrKeyMapper">

    <resultMap id="AttrKeyVo" type="com.zjw.lease.web.admin.vo.attr.AttrKeyVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="attrValueList" ofType="com.zjw.lease.model.entity.AttrValue">
            <id column="attrValueId" property="id"/>
            <result column="attrValueName" property="name"/>
            <result column="attrKeyId" property="attrKeyId"/>
        </collection>
    </resultMap>

    <!--查询全部属性key value信息-->
    <select id="listAttrInfo" resultMap="AttrKeyVo">
        SELECT ak.id,
               ak.name,
               av.id   AS attrValueId,
               av.name AS attrValueName,
               av.attr_key_id AS attrKeyId
        FROM attr_key ak
                 LEFT JOIN attr_value av ON ak.id = av.attr_key_id
            AND av.is_deleted = 0
        WHERE ak.is_deleted = 0;
    </select>
</mapper>
